<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <!-- <h2>Thanks, you paid <strong>$5.00</strong>!</h2> -->

<section><div class="thanks"><b>Thank you for your purchase.</b></div><br><br> <div class = "order"><b>Your order has been processed and will be delivered to you shortly.</b></div><br>
<br><br>
  <div class="details">

Order Details:
<br>
<address>
<b>Customer Number:</b> 00000072<br>
<b>Order Number:</b> 12233445<br>
<b>Order Date:</b> 07/13/2016<br>
<b>Ship Method:</b> Door Delivery; 1-3 hours<br>
</address>
<br><br>

<address>
<b>Delivery Address:</b><br>
WYNCODE ACADEMY<br>
400 NW 26th STREET<br>
MIAMI, FLORIDA 33127<br><br>
</address>
  </div>

  <div class="bye"><b>Thank you for ordering through your Personal Shopper!<br><br> Let's shop together again soon.</b></div>
</section><br><br><br>

<footer class="end"><a href="/"><button type="button" class="btn btn-success btn-lg">Home</button></a></footer>
<!-- <footer class="end"><a href="/"><button class="zbutton">Home</button></a></footer> -->




  </body>
</html>
