<%= form_tag payment_index_path do %>
  <article class="amou">
    
    <label class="amount">
      <span>Amount: $35.50</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%=@amount.to_s %>"
          data-locale="auto"></script>
<% end %>