<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Shopper</title>

  </head>
  <body>
  <a href="products/index.html.erb"></a>
    <section class= "welcome">
      <div class = "line1"><br><b>Welcome!</b></div>
      <div class = "line2">I'm your Personal Shopper.</div>
      <div class = "line3"><address>What can I have <u>delivered</u> to you<br>today?</address></div><br>
    </section><br><br><br>

    <!-- <section class = "button" align="center"><a href="/products"><button class = "shop">Let's Shop</button></a></section> -->

    <section class = "button"><a href="/products"><button type="button" class="btn btn-success btn-lg">Let's Shop</button></a></section>



  </body>
</html>
