<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Shopper</title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <section class= "welcome">
      <div class = "line1"><b>Welcome!</b><br></div>
      <div class = "line2"><i><b>I am your Personal Shopper.</b></i><br><br></div>
      <div class = "line3"><b>What can I deliver to you today?</b></div><br>
    </section>

    <section class = "button" align="center"><button class = "shop">Let's Shop</button></section>

  </body>
</html>
