// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background: url("https://tctechcrunch2011.files.wordpress.com/2015/03/groceries.jpg") no-repeat fixed;
background-size: cover;
margin: .5em;
}

.welcome {
  margin: 2em;
  margin-top: 2em;
  height: 50em;
  padding: 2em;
  background: url("http://sweetly.weebly.com/uploads/6/7/9/5/6795120/5599291_orig.png?496") no-repeat center ;
  // background: rgba(255, 255, 255, .7);
  text-align: center;
}

.line1 {
  font-size: 1000%;
  font-family: cursive;
  margin-top: .8em;
  color: green;
}

.line2 {
  font-size: 400%;
  font-family: serif;
  color: black;
  margin-top: 3em;
}

.line3 {
  font-size: 450%;
  font-family: serif;
  color: darkred;
  margin-top: 2em;
}

.button {
  // margin: 5em;
  text-align: center;
}
