

body {
background: url("https://tctechcrunch2011.files.wordpress.com/2015/03/groceries.jpg") no-repeat fixed;
background-size: cover;
margin: .5em;
}

.welcome {
  margin: 1em;
  margin-top: 2em;
  // margin-bottom: .6em;
  height: 33em;
  padding: 2em;
  border: double 4em rgba(255, 255, 255, .6);
  color: green;
  background: rgba(255, 255, 255, .7);
  text-align: center;
}


line1 {
  font-size: 300x;
  font-family: cursive;
}

.line2 {
  font-size: 250%;
  font-family: serif;
  color: white;
}

.line3 {
  font-size: 200%;
  font-family: serif;
.line1 {
  font-size: 900%;
  font-family: cursive;
  margin-top: .8em;
}

.line2 {
  font-size: 400%;
  font-family: serif;
  color: white;
  margin-top: 3em;
}

.line3 {
  font-size: 350%;
  font-family: serif;
  margin-top: 2em;
}

.shop {
  color: white;
  background: green;
  width: 10em;
  font-size: 150%;
  font-family: serif;
  align: center;
  padding: .2em;
}

.button {
  margin: 4em;
}
