// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h1{
// 	background:gray;
// }


html {
background: url("https://tctechcrunch2011.files.wordpress.com/2015/03/groceries.jpg") no-repeat fixed;
background-size: cover;
/*border: solid rgba(255, 255, 255, .8) 1em;*/
margin: .5em;
}

.products {
  position:fixed;
  padding: .7em;
  background: white;
  color: green;
  top:0;
  left:0;
  width:100%;
  text-align: center;
  font-size: 4em;
}

.container {
  background: rgba(255, 255, 255, .8);
  margin: 18em 0 15em 0;
	height: 100%;
  width: 100%;
  padding-bottom: 2em;
  // background: white;
}

.column1 {
  // background: rgba(255, 255, 255, .7);
  float: left;
  width: 45%;
  margin: 1%;
  margin-top: 3em;
  text-align: center;
  padding-top: 1em;
}

.column3 {
  // background: rgba(255, 255, 255, .7);
  float: right;
  width: 45%;
  margin: 1%;
  margin-top: 3em;
  text-align: center;
  padding-top: 1em;
}

.button1a, .button1b, .button2a, .button2b, .button3a, .button3b, {
  align: center;
  margin: 1em;
  align: center;
}

.end {
  text-align: center;
  position: absolute;;
  clear:both;
	bottom:0;
	left: 0;
  width: 100%;
  margin-bottom: 2em;
}
