
<h1>Frozen Foods</h1>





<div class="img">
  <a target="_blank" href="fjords.jpg">
    <img src="http://target.scene7.com/is/image/Target/13752627?wid=1024&hei=1024&qlt=70&fmt=pjpeg" width="300" height="200">
  </a> <label >
  <input type="checkbox">
  <span class="custom-check"></span>
</label>

<div class="desc">Ice cream<br/>$9.99 </div>
</div>

<div class="img">
  <a target="_blank" href="forest.jpg">
    <img src="http://target.scene7.com/is/image/Target/14930365?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
  </a> <label >
  <input type="checkbox">
  <span class="custom-check"></span>
</label>

<div class="desc">Frozen fruits<br/>$10.50</div>
</div>

<div class="img">
  <a target="_blank" href="lights.jpg">
    <img src="http://target.scene7.com/is/image/Target/17182520?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
  </a> <label >
  <input type="checkbox">
  <span class="custom-check"></span>
</label>

<div class="desc">Chicken Tender.<br/>$12.50</div>
</div>

<div class="img">
  <a target="_blank" href="mountains.jpg">
    <img src="http://target.scene7.com/is/image/Target/14778496?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
  </a> <label >
    <input type="checkbox">
    <span class="custom-check"></span>
  </label>

<div class="desc">Tyson Chic<br/>$20.75</div>
</div>

<div class="img">
  <a target="_blank" href="fjords.jpg">
    <img src="http://target.scene7.com/is/image/Target/17182522?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
  </a> <label >
   <input type="checkbox">
   <span class="custom-check"></span>
  </label>

<div class="desc">Frozen Chicken Patties 32 oz<br/>$12.50</div>
</div>

<div class="img">
  <a target="_blank" href="forest.jpg">
    <img src="http://target.scene7.com/is/image/Target/23974860?wid=450&hei=450&fmt=pjpeg"width="300" height="200">
  </a> 
  <label >
      <input type="checkbox">
     <span class="custom-check"></span>
  </label>

  <div class="desc">Eggo Bacon, Egg, & Cheese Breakfast Sandwich 4-ct 10.8o<br/>$18.99</div>
</div>


<div class="img">
  <a target="_blank" href="lights.jpg">
    <img src="http://target.scene7.com/is/image/Target/50295745?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
  </a> 
  <label >
    <input type="checkbox">
    <span class="custom-check"></span>
</label>

<div class="desc">Pillsbury Toaster Strudel™ Wildberry 6ct 11.7 oz<br/>$5.36</div>
</div>


<div class="img">
  <a target="_blank" href="mountains.jpg">
    <img src="http://target.scene7.com/is/image/Target/47900107?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
  </a>
   <label >
    <input type="checkbox">
    <span class="custom-check"></span>
  </label>

<div class="desc">Frozen Turkey 12-16 lbs - price per lb.<br/>$8.99</div>
</div>


<div class="img">
  <a target="_blank" href="fjords.jpg">
    <img src="http://target.scene7.com/is/image/Target/50514904?wid=1024&hei=1024&qlt=70&fmt=pjpeg" width="300" height="200">
  </a> 
  <label >
    <input type="checkbox">
    <span class="custom-check"></span>
  </label>

<div class="desc">Frozen Turkey Patties 32 oz<br/>$5.50</div>
</div>



<div class="img">
  <a target="_blank" href="forest.jpg">
    <img src="http://target.scene7.com/is/image/Target/15415589?wid=450&hei=450&fmt=pjpeg"width="300" height="200">
  </a> 
  <label >
    <input type="checkbox">
    <span class="custom-check"></span>
  </label>

<div class="desc">Jimmy Dean All Natural Roll 16 oz<br/>$15.50</div>
</div>



<div class="img">
  <a target="_blank" href="lights.jpg">
    <img src="http://target.scene7.com/is/image/Target/15013964?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
  </a> 
  <label >
    <input type="checkbox">
    <span class="custom-check"></span>
  </label>

<div class="desc">Hickory Smoked Baby Back Pork Ribs 38 oz<br/>$10.05</div>
</div>


<div class="img">
  <a target="_blank" href="mountains.jpg">
    <img src="http://target.scene7.com/is/image/Target/14799746?wid=1024&hei=1024&qlt=70&fmt=pjpeg" width="300" height="200">
  </a> 
  <label >
    <input type="checkbox">
    <span class="custom-check"></span>
  </label>

<div class="desc">Minute Maid Orange Juice No Pulp 12 oz<br/>$12.50</div>
</div>





<nav class="sidebar">
  <ul class="right hide-on-med-and-down">
    <li><a href="/">Home</a></li>
    <li><a href="produce">Produce Foods</a></li>
    <li><a href="trans" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')">Transaction</a>
    </li>
  </ul>
  
  <% #a href="" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a%>
</nav>









