     <header class="product">
     <div class="title"> <font><b>Where Would You Like To Begin?</b></font></div></header>

     <div class="container">

       <section class="column1">
         <div class = "button1a"><a href="/frozen_foods" ><button type="button" class="btn btn-success btn-lg btn-block">Frozen Foods</button></a></div><br>
         <div class = "button1b"><a href="/produce" ><button type="button" class="btn btn-success btn-lg btn-block">Produce</button></a></div><br>
         <div class ="button2a"><button type="button" class="btn btn-success btn-lg btn-block">Beverages</button></div><br>
       </section>
       <section class="column3">
         <button class ="button3a"> Bakery/Breakfast/Cereal </button><br><br> <button class ="button3b"> Canned/Packaged Foods </button></section>
      <!-- <div class="container2"
      <section class="filler"><font size="5">Your items will be, promptly, delivered to you<br>fresh and packaged neatly and organized.</font></section></div> -->
     </div>

       <section class="column3">
         <div class ="button3a"><button type="button" class="btn btn-success btn-lg btn-block">Bakery/Breakfast/Cereal</button></div><br>
         <div class = "button3b" ><button type="button" class="btn btn-success btn-lg btn-block">Canned/Packaged Foods</button></div><br>
          <div class = "button2b"><button type="button" class="btn btn-success btn-lg btn-block">Refrigerated Foods</button></div><br>
         </section>

      </div>

     <footer class="end"><a href="/"><button type="button" class="btn btn-success btn-lg">Go Back</button></a></footer>
