     <header class="product">
     <div class="title"> <font><b>Where Would You Like To Begin?</b></font></div></header>

     <div class="container">
<section class="column2">
         <%= button_to 'Frozen', '/frozen.html', method: 'get', class: 'button2a' %>
         <br/>
         <br/>
         <%= button_to 'produce', '/produce.html', method: 'get', class: 'button2a' %></section>

      

       <section class="column2">
         <%= button_to 'Beverages', '/frozen.html', method: 'get', class: 'button2a' %><br><br> <button class ="button2b"> Refrigerated Foods </button></section>

       <section class="column3">
         <button class ="button3a"> Bakery/Breakfast/Cereal </button><br><br> <button class ="button3b"> Canned/Packaged Foods </button></section>
      <!-- <div class="container2"
      <section class="filler"><font size="5">Your items will be, promptly, delivered to you<br>fresh and packaged neatly and organized.</font></section></div> -->
     </div>



     <footer class="end"><a href="/"><button class="zbutton">Go Back</button></a></footer>