<h1>Produce Foods</h1>



<div class="img1">
	<a target="_blank" href="fjords.jpg">
		<img src="http://target.scene7.com/is/image/Target/15013578?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des"> Red Delicious Apples 3LBs </div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>

<div class="img1">
	<a target="_blank" href="forest.jpg">
		<img src="http://target.scene7.com/is/image/Target/13562236?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des">Bolthouse Farms Carrot Chips 16 oz</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>

<div class="img1">
	<a target="_blank" href="lights.jpg">
		<img src="http://target.scene7.com/is/image/Target/17182520?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des">Chicken Tender.<rb/>15.99</div>
	<label>
		<input type="checkbox" id="inlineCheckbox">
	</label>
</div>

<div class="img1">
	<a target="_blank" href="mountains.jpg">
		<img src="http://target.scene7.com/is/image/Target/13562236?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des">Spice Word Fresh Shallots 3 oz<rb/>8.99</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>
<br/>
<div class="img2">
	<a target="_blank" href="fjords.jpg">
		<img src="http://target.scene7.com/is/image/Target/13533092?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des2">Taylor Organic Sweet Baby Lettuce 5 oz<rb/>6.00</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>

<div class="img2">
	<a target="_blank" href="forest.jpg">
		<img src="http://target.scene7.com/is/image/Target/13531264?wid=1024&hei=1024&qlt=70&fmt=pjpeg"width="300" height="200">
	</a>
	<div class="des2">Fresh Express Veggie Lover's Salad Blend 12 oz<rb/>6.50</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>

<div class="img2">
	<a target="_blank" href="lights.jpg">
		<img src="http://target.scene7.com/is/image/Target/13478911?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des2">Green Giant Fresh Grape Tomatoes 10 oz<rb/>6.99</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>


<div class="img2">
	<a target="_blank" href="mountains.jpg">
		<img src="http://target.scene7.com/is/image/Target/14799746?wid=1024&hei=1024&qlt=70&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des2">Minute Maid Orange Juice No Pulp 12 oz<rb/>5.98</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>




<div class="img2">
	<a target="_blank" href="mountains.jpg">
		<img src="http://target.scene7.com/is/image/Target/13728601?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des2">Spaghetti Squash 1-lb.<rb/>11.99<br/></div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>







<div class="img2">
	<a target="_blank" href="mountains.jpg">
		<img src="http://target.scene7.com/is/image/Target/15013583?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des2">Tropicana Premium Fresh Lemons 2 lb bag<rb/>3.05</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>



<div class="img2">
	<a target="_blank" href="mountains.jpg">
		<img src="http://target.scene7.com/is/image/Target/15414011?wid=450&hei=450&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des2">Nature Sweet TOMATO SUNBURST TOMATO<rb/>5.89</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>



<div class="img2">
	<a target="_blank" href="mountains.jpg">
		<img src="http://scene7.targetimg1.com/is/image/Target/14919033?wid=290&hei=290&qlt=80&fmt=pjpeg" width="300" height="200">
	</a>
	<div class="des2">Sweet Corn 4pk 20oz <rb/>6.99</div>
	<label>
		<input type="checkbox" id="inlineCheckbox"> 
	</label>
</div>


<nav class="sidebar">
	<ul class="right hide-on-med-and-down">
		<li><a href="/">Home</a></li>
		<li><a href="frozen">FrozenFoods</a></li>
		 <li><a href="trans" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')">Transaction</a>
    </li>
		
	</ul>

	<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

</nav>


