

<h1>  Fill This Form. </h1>

<nav class="sidebar">
  <ul class="right hide-on-med-and-down">
    <li><a href="/">Home</a></li>
    <li><a href="produce">Produce Foods</a></li>
    <li><a href="trans" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')">Transaction</a>
    </li>
  </ul>
  
  <% #a href="" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a%>
</nav>


<div class="trans5">

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <br/>

        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

        <br/>

       <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Email" id="email" type="text" class="validate">
          <label for="first_name">Email</label>
        </div>

            <br/>

        <div class="input-field col s6">
          <input placeholder="954-000-000" id="address" type="text" class="validate">
          <label for="phone">Phone</label>
        </div>
      </div>

      <br/>

        <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Address" id="address" type="text" class="validate">
          <label for="first_name">Address</label>
        </div>

        <br/>



         <a href="payment/new" class="btn" button="Materialize.showStaggeredList('#staggered-test')">Click Me</a>  
         </div>
      